@import "./vars.scss";

body{
    font-family: monospace;
    background: linear-gradient(0deg, $primery 0.03%, $accent);
    color: $foreground;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 30px;
    height: 100vh;
}
.quiz-container {
  width: 500px;
  background-color: $bg;
  border-radius: 4px;
  margin-top: 100px;
  padding: 30px 60px;
  box-sizing: border-box;
  position: relative;
}
.active-question-no{
    font-size: 32px;
    font-weight: 500;
    color: $primery;

}
.total-questions{
    font-size: 16px;
    font-weight: 500;
    color: $disabled;
    
}
.title-question{
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}
ul{
    margin-top: 20px;
    margin-left: -40px;
}
li{
    list-style: none;
    text-decoration: none;
    font-size: 16px;
    color: $foreground;
    background: $bg;
    padding: 11px;
    margin-top: 15px;
    border: 1px solid $disabled;
    border-radius: 16px;
    cursor: pointer;

}
.selected-answer{
    background-color: $primery;
    color: $bg-accent;
    border: $accent;
}
.footer{
    display: flex;
    justify-content: end;
}
button{
    background: linear-gradient(0deg, $primery 0.03%, $accent);
    font-size: 18px;
    border: none;
    border-radius: 9px;
    outline: none;
    color: $bg;
    padding: 10px 30px;
    margin-top: 15px;
    cursor: pointer;

    &:disabled{
        background-color: $bg-accent;
        color: $disabled;
        cursor: not-allowed;
         
    }

   
}

input{
    border: 1px solid $disabled;
    border-radius: 4px;
    width: 100%;
    padding: 10px 20px;
    margin-top: 20px;
    box-sizing: border-box;
}    

.answer-timer-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid $disabled;
}
.progress{
    height: 5px;
    width: 0;
    transition-duration: 1s;
    transition-timing-function: linear;
 
}
.result{
    text-align: center;
}
.result h3{
    font-size: 24px;
    letter-spacing: 1.4px;
    text-align: center;
}
.result p{
    font-size: 16px;
    font-weight: 500;
    span{
    color: $primery;
    font-size: 22px;
    }
}

.score-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
  direction: rtl;

  thead {
    background: linear-gradient(90deg, #4f46e5, #7c3aed);
    color: #fff;

    th {
      padding: 10px;
      font-weight: 600;
    }
}
}
 tbody {
    tr {
      transition: background 0.2s ease;

      &:nth-child(even) {
        background-color: #f9fafb;
      }

      &:hover {
        background-color: #eef2ff;
      }

      td {
        padding: 8px 6px;
        border-bottom: 1px solid #e5e7eb;
      }
    }
  }
.top-score {
  background-color: #fef3c7 !important;
  font-weight: bold;

  td:last-child {
    color: #16a34a;
  }
}